@import 'bootstrap/dist/css/bootstrap.min.css';

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .no-print {
    display: none !important;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}